/**
 *  If you want to override some bootstrap variables, you have to change values here.
ear
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

.stop-scale {
  min-width: 90em;//1200px !important;
  max-width: 1800px;//1700px !important;
}

.fixer-margin {
  margin-top: 1%;
}

.browsehappy {
  margin: 0 0;
  background: #131313 !important;
  color: #000 !important;
  padding: 0 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

.grey-fill {
  width: 100% !important;
  height: 100% !important;
  background-color: #131313 !important;
}

body {
  background-color: #131313;
  overflow: hidden !important;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

div {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}


.nba-circular-crop {
  //background: url('/assets/images/nba.png');
  //background-repeat: no-repeat;
  //background-position: 50%;
  //background-size: 250%;
  width: 43%;//480px;
  height: 43%;//480px;
  margin: auto;
  //border-radius: 50%;
  //-webkit-border-radius: 50%;
  //-moz-border-radius: 50%;
  overflow: visible;
  //border: 10px solid #fff;
}

.wrap {
  padding-top: 6%;
  vertical-align: center;
}

.main-wrap {
  width: 100%;
  height: 100%;
}

/*.buttons-rotation {
  -ms-transform: rotate(90deg); 
  -webkit-transform: rotate(90deg); 
  transform: rotate(90deg);
}*/

/*
.videoWrapper {
  width: 65%;
  height: 65%;
  border-radius: 25% 25% 25% 25%;
  //border-radius: 125px;
  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
  position: absolute;
}

#Video5, #Video4, #Video3, #Video2, #Video1{
  width: 90%;
  height: 90%;
  top: 125px; //25%;//-125px;
  left: 125px; //25%;// -125px;
  position: absolute;
}*/

.videoWrapper {
//#Video5, #Video4, #Video3, #Video2, #Video1{
  vertical-align: center;
  margin: auto 2%;
  height:74%; //240px;
  width: 42%;//320px;
  -moz-border-radius:50%;
  border-radius:50%;
  overflow:hidden;
  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
  //-webkit-mask-image: url(http://f.cl.ly/items/1e181Q0e3j0L3L3z2j3Z/rect.svg);
  position: absolute;
  text-align: center;
  min-width: 35em;//1200px !important;
  min-height: 35em;//1200px !important;
  max-width: 50em;//1200px !important;
  max-height: 50em;//1200px !important;

}

#Video5, #Video4, #Video3, #Video2, #Video1{
  top: 0;
  left:0;
  margin: -20% -140%;
  display: inline-block;
  min-width: 275%;
  max-width: 275%;
  position: absolute;
}

/* TIMER */

.wrapper {
  width: 100px; /* Set the size of the progress bar */
  height: 100px;
  position: absolute; /* Enable clipping */
  clip: rect(0px, 100px, 100px, 50px); /* Hide half of the progress bar */
}
/* Set the sizes of the elements that make up the progress bar */
.circle {
 width: 80px;
 height: 80px;
 border: 10px solid green;
 border-radius: 50px;
 position: absolute;
 clip: rect(0px, 50px, 100px, 0px);
}

/* Using the data attributes for the animation selectors. */
/* Base settings for all animated elements */
div[data-anim~=base] {
    -webkit-animation-iteration-count: 1;  /* Only run once */
    -webkit-animation-fill-mode: forwards; /* Hold the last keyframe */
    -webkit-animation-timing-function:linear; /* Linear animation */
}

.wrapper-circle[-anim~=wrapper] {
    -webkit-animation-duration: 0.01s; /* Complete keyframes asap */
    -webkit-animation-delay: 3s; /* Wait half of the animation */
    -webkit-animation-name: close-wrapper; /* Keyframes name */
}



.circle[data-anim~=left] {
    -webkit-animation-duration: 6s; /* Full animation time */
    -webkit-animation-name: left-spin;
}


.circle[data-anim~=right] {
    -webkit-animation-duration: 3s; /* Half animation time */
    -webkit-animation-name: right-spin;
}

/* Rotate the right side of the progress bar from 0 to 180 degrees */
@-webkit-keyframes right-spin {
   from {
     -webkit-transform: rotate(0deg);
   }
   to {
     -webkit-transform: rotate(180deg);
   }
  }
/* Rotate the left side of the progress bar from 0 to 360 degrees */
@-webkit-keyframes left-spin {
   from {
     -webkit-transform: rotate(0deg);
   }
   to {
     -webkit-transform: rotate(360deg);
   }
  }
/* Set the wrapper clip to auto, effectively removing the clip */
@-webkit-keyframes close-wrapper {
   to {
     clip: rect(auto, auto, auto, auto);
   }
  }

      
#round-timer {
  width: 70%;
  height: 70%;
}

#round-timer > svg {
  width: 100%;
  display: block;
}

.clickedColor {
  background-color: rgba(248, 247, 216, 0.7);
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
}

.buttons-buttom {
  position: relative;
  width: 24em;
  height: 24em;
  padding: 2.8em;
  //border: dashed 1px;
  border-radius: 50%;
  margin: -28.75em auto 0;
  z-index: 2;

} 

.buttons-buttom a {
  display: block;
  position: absolute;
  top: 205%; left: 28%;//34%; //40 50
  width: 5em; 
  height: 5em;
  //margin: -4em;
}

.buttons-buttom img { display: block; width: 100%; }

/*.buttons-top {
  position: relative;
  width: 24em;
  height: 24em;
  padding: 2.8em;
  border: dashed 1px;
  border-radius: 50%;
  margin: 1.75em auto 0;
} 

.buttons-top a {
  display: block;
  position: absolute;
  top: 50%; left: 50%;
  width: 4em; height: 4em;
  margin: -2em;
}
/*
.buttons-top img { display: block; width: 100%; }*/
/*.deg0 { transform: translate(12em); }*/ /* 12em = half the width of the wrapper */
/*.deg45 { transform: rotate(45deg) translate(12em) rotate(-45deg); }
.deg135 { transform: rotate(135deg) translate(12em) rotate(-135deg); }
.deg180 { transform: translate(-12em); }
.deg225 { transform: rotate(225deg) translate(12em) rotate(-225deg); }
.deg315 { transform: rotate(315deg) translate(12em) rotate(-315deg); }*/



.deg0 { transform: translateY(25em); } /* 12em = half the width of the wrapper */ //17 25em
.deg45 { transform: rotate(45deg) translateX(25em) rotate(-45deg); } //17 25em 
.deg135 { transform: rotate(135deg) translateX(25em) rotate(-135deg); } //17 25em
.deg180 { transform: translateY(-24.75em); } //-16.5 -24.75em
.deg225 { transform: rotate(225deg) translateX(24.5em) rotate(-225deg); } //16 24.5em
.deg315 { transform: rotate(315deg) translateX(24.5em) rotate(-315deg); } //16 24.5em



@media (min-width: 500px) and (max-width: 1350px) {
.deg0 { transform: translateY(11.5em) translateX(0.5em); } /* 12em = half the width of the wrapper */ //17 25em
.deg45 { transform: rotate(45deg) translateX(13em) translateY(-6em) rotate(-45deg); } //17 25em 
.deg135 { transform: rotate(135deg) translateX(12em) translateY(5em) rotate(-135deg); } //17 25em
.deg180 { transform: translateY(-24.75em); } //-16.5 -24.75em
.deg225 { transform: rotate(225deg) translateX(22em) translateY(5em) rotate(-225deg); } //16 24.5em
.deg315 { transform: rotate(315deg) translateX(22em) translateY(-5em) rotate(-315deg); } //16 24.5em

.buttons-buttom a {
  display: block;
  position: absolute;
  top: 205%; left: 32%;//34%; //40 50
  width: 5em; 
  height: 5em;
  //margin: -4em;
}

.videoWrapper {
  height: 240px;
  width: 320px;
}

.wrap {
  padding-top: 7%;
}

}


@media (min-width: 1300px) and (max-width: 1550px) {
.deg0 { transform: translateY(20.5em) translateX(3em); } /* 12em = half the width of the wrapper */ //17 25em 
.deg45 { transform: rotate(45deg) translateX(23em) translateY(-3em) rotate(-45deg); } //17 25em 
.deg135 { transform: rotate(135deg) translateX(20em) translateY(-1em) rotate(-135deg); } //17 25em
.deg180 { transform: translateY(-24.75em) translateX(1em); } //-16.5 -24.75em
.deg225 { transform: rotate(225deg) translateX(22em) translateY(3em) rotate(-225deg); } //16 24.5em
.deg315 { transform: rotate(315deg) translateX(25em) rotate(-315deg); } //16 24.5em

.buttons-buttom a {
  display: block;
  position: absolute;
  top: 205%; left: 32%;//34%; //40 50
  width: 5em; 
  height: 5em;
  //margin: -4em;
}

.videoWrapper {
  width: 600px;
  height: 600px;
}

}



//@media (min-width: 1350px) and (max-width: 1400px) {
//.deg0 { transform: translateY(16.5em) translateX(2em); } /* 12em = half the width of the wrapper */ //17 25em
/*.deg45 { transform: rotate(45deg) translateX(19em) translateY(-7em) rotate(-45deg); } //17 25em 
.deg135 { transform: rotate(135deg) translateX(16em) translateY(3em) rotate(-135deg); } //17 25em
.deg180 { transform: translateY(-24.75em) translateX(1em); } //-16.5 -24.75em
.deg225 { transform: rotate(225deg) translateX(22.5em) translateY(2em) rotate(-225deg); } //16 24.5em
.deg315 { transform: rotate(315deg) translateX(25em) rotate(-315deg); } //16 24.5em

.buttons-buttom a {
  display: block;
  position: absolute;
  top: 205%; left: 32%;//34%; //40 50
  width: 5em; 
  height: 5em;
  //margin: -4em;
}



}
*/




@media (min-width: 1550px) and (max-width: 1600px) {
.deg0 { transform: translateY(25em) translate(1em); } /* 12em = half the width of the wrapper */ //17 25em
.deg45 { transform: rotate(45deg) translateX(25em) rotate(-45deg); } //17 25em 
.deg135 { transform: rotate(135deg) translateX(24.5em) translateY(-1em) rotate(-135deg); } //17 25em
.deg180 { transform: translateY(-24.75em); } //-16.5 -24.75em
.deg225 { transform: rotate(225deg) translateX(24.5em) rotate(-225deg); } //16 24.5em
.deg315 { transform: rotate(315deg) translateX(24.5em) rotate(-315deg); } //16 24.5em

.buttons-buttom a {
  display: block;
  position: absolute;
  top: 205%; left: 38%;//34%; //40 50
  width: 5em; 
  height: 5em;
  //margin: -4em;
}

.videoWrapper {
  width: 650px;
  height: 650px;
}

}


@media (min-width: 1600px) and (max-width: 1750px) {
.deg0 { transform: translateY(25em) translate(1em); } /* 12em = half the width of the wrapper */ //17 25em
.deg45 { transform: rotate(45deg) translateX(25em) rotate(-45deg); } //17 25em 
.deg135 { transform: rotate(135deg) translateX(24.5em) translateY(-1em) rotate(-135deg); } //17 25em
.deg180 { transform: translateY(-24.75em); } //-16.5 -24.75em
.deg225 { transform: rotate(225deg) translateX(24.5em) rotate(-225deg); } //16 24.5em
.deg315 { transform: rotate(315deg) translateX(24.5em) rotate(-315deg); } //16 24.5em

.buttons-buttom a {
  display: block;
  position: absolute;
  top: 205%; left: 38%;//34%; //40 50
  width: 5em; 
  height: 5em;
  //margin: -4em;
}

.videoWrapper {
  width: 700px;
  height: 700px;
}

}

@media (min-width: 1750px) and (max-width: 1920px) {
.deg0 { transform: translateY(25em) translate(1em); } /* 12em = half the width of the wrapper */ //17 25em
.deg45 { transform: rotate(45deg) translateX(25em) rotate(-45deg); } //17 25em 
.deg135 { transform: rotate(135deg) translateX(24.5em) translateY(-1em) rotate(-135deg); } //17 25em
.deg180 { transform: translateY(-24.75em); } //-16.5 -24.75em
.deg225 { transform: rotate(225deg) translateX(24.5em) rotate(-225deg); } //16 24.5em
.deg315 { transform: rotate(315deg) translateX(24.5em) rotate(-315deg); } //16 24.5em

.buttons-buttom a {
  display: block;
  position: absolute;
  top: 205%; left: 32%;//34%; //40 50
  width: 5em; 
  height: 5em;
  //margin: -4em;
}

.videoWrapper {
  width: 700px;
  height: 700px;
}

}



.round-button {
  width: 150%;//85px;
}

.round-button a {
  display: block;
  float: left;
  width: 100%;
  padding-top: 50%;
  padding-bottom: 50%;
  line-height: 1em;
  margin-top: -0.5em;
  text-align: center;
  color: #fff;
  font-size: 1.2em;
}

.round-button-effects {
  width: 110%;
  height: 0;
  padding-bottom: 100%;
  border-radius: 50%;
  border: 4px solid #fff;
  overflow: hidden;
  background: url('/assets/images/effects-background-faded.png'); 
  background-size: 300%;
  background-position: 60% 15%;
  transition: 1s ease-in-out;
}

.round-button-effects:focus {
    border-color: #ff3e3e;
}

.round-button-effects:hover {
    border-color: #ff3e3e;
}

.round-button-vocal {
  width: 110%;
  height: 0;
  padding-bottom: 100%;
  border-radius: 50%;
  border: 4px solid #fff;
  overflow: hidden;
  background: url('/assets/images/vocal-background-faded.png'); 
  background-size: 300%;
  background-position: 65% 20%;
  transition: 1s ease-in-out;
}

/*.round-button-vocal:active,
.round-button-vocal:focus {
    background: #ff3e3e;
}*/

.round-button-vocal:hover {
    border-color: #ff3e3e;
}

.round-button-eq {
  width: 110%;
  height: 0;
  padding-bottom: 100%;
  border-radius: 50%;
  border: 4px solid #fff;
  overflow: hidden;
  background: url('/assets/images/eq-background-faded.png'); 
  background-size: 300%;
  background-position: 65% 10%;
  transition: 1s ease-in-out;
}

.round-button-eq:active {
    border-color: #ff3e3e;
}

.round-button-eq:hover {
    border-color: #ff3e3e;
}

.round-button-bass {
  width: 110%;
  height: 0;
  padding-bottom: 100%;
  border-radius: 50%;
  border: 4px solid #fff;
  overflow: hidden;
  background: url('/assets/images/bass-background-faded.png'); 
  background-size: 300%;
  background-position: 37% 43%;
  transition: 1s ease-in-out;
}

.round-button-bass:active {
    border-color: #ff3e3e;
}

.round-button-bass:hover {
    border-color: #ff3e3e;
}

.round-button-random {
  width: 110%;
  height: 0;
  padding-bottom: 100%;
  border-radius: 50%;
  border: 4px solid #fff;
  overflow: hidden;
  background: url('/assets/images/random-background-faded.png'); 
  background-size: 300%;
  background-position: 50%;
  transition: 1s ease-in-out;
}

.round-button-random:active {
    border-color: #ff3e3e;
}

.round-button-random:hover {
    border-color: #ff3e3e;
}

.round-button-melody {
  width: 110%;
  height: 0;
  padding-bottom: 100%;
  border-radius: 50%;
  border: 4px solid #fff;
  overflow: hidden;
  background: url('/assets/images/melody-background-faded.png'); 
  background-size: 300%;
  background-position: 78% 5%;
  transition: 1s ease-in-out;
}

.round-button-melody:active {
    border-color: #ff3e3e;
}

.round-button-melody:hover {
    border-color: #ff3e3e;
}

.myClickState {
  border-color: lime;
}

span.random-icon {
  background: url('/assets/images/random-icon.png') no-repeat;
  background-size: 75%;
  background-position: 105% 30%;
  float: left;
  width: 83px;
  height: 83px;
  z-index: 999;
  text-align: center;
  color: #fff;
  font-size: 0.95em;
  transition: 0.3s ease-in-out;
}

span.bass-icon {
  background: url('/assets/images/bass-icon.png') no-repeat;
  background-size: 70%;
  background-position: 90% 45%;
  float: left;
  width: 83px;
  height: 83px;
  z-index: 999;
  text-align: center;
  color: #fff;
  font-size: 0.95em;
  transition: 0.3s ease-in-out;
}

span.vocal-icon {
  background: url('/assets/images/vocal-icon.png') no-repeat;
  background-size: 70%;
  background-position: 105% 30%;
  float: left;
  width: 83px;
  height: 83px;
  z-index: 999;
  text-align: center;
  color: #fff;
  font-size: 0.95em;
  transition: 0.3s ease-in-out;
}

span.eq-icon {
  background: url('/assets/images/eq-icon.png') no-repeat;
  background-size: 70%;
  background-position: 105% 30%;
  float: left;
  width: 83px;
  height: 83px;
  z-index: 999;
  text-align: center;
  color: #fff;
  font-size: 0.95em;
  transition: 0.3s ease-in-out;
}

span.effects-icon {
  background: url('/assets/images/effects-icon.png') no-repeat;
  background-size: 75%;
  background-position: 105% 20%;
  float: left;
  width: 83px;
  height: 83px;
  z-index: 999;
  text-align: center;
  color: #fff;
  font-size: 0.95em;
  transition: 0.3s ease-in-out;
}

span.melody-icon {
  background: url('/assets/images/melody-icon.png') no-repeat;
  background-size: 70%;
  background-position: 95% 30%;
  float: left;
  width: 83px;
  height: 83px;
  z-index: 999;
  text-align: center;
  color: #fff;
  font-size: 0.95em;
  transition: 0.3s ease-in-out;
}

/*span.btn-hover:hover {
  background-color: rgba(100, 10, 10 , 0.4);
}*/

span.btn-text-pos {
  float: left;
  width: 105px;
  height: 200px;
  z-index: 9999;
  text-align: center;
  color: #fff;
  font-size: 1.1em;
  margin-top: 80%; 
}

.circular-timer {
  margin: -28px -27px;
  width: 100%;
  height: 100%;
  //padding-top: 0.02px;
}

.user-position {
  top: 0;
  left: 0;
  margin: 15% 10%; //-235
}

.user {
  position: absolute; 
  background: url('/assets/images/user.png');
  background-repeat: no-repeat;
  background-position: 50% 25%;
  background-size: 115%;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  border: 3px solid #000;
}

.branding-position {
  top: 0;
  right: 0;
  margin: -1.0% 79%; //230
  min-height: 50%;
}

.branding {
  position: absolute; 
  background: url('/assets/images/smirnoff-logo.png');
  background-repeat: no-repeat;
  background-position: 50% 25%;
  background-size: 80%;
  width: 225px;
  height: 195px;
}

.left-side-wrap {
  margin: 105% 10%;
}

p.dj {
  color: white;
  margin: 1% 35%;
}

span.name {
  color: #c03333;
}


.right-side-wrap {
  margin: 60% 30%;
}

span.nike-text {
  color: #c03333;
  font-size: 0.8em; 
}

span.nba-text {
  margin-left: 7%;
  color: #fff;
  font-size: 0.8em; 
}

span.remix-text {
  color: #c03333;
  font-size: 0.8em; 
}
/*.round-button-effects:hover {
  background: red;
}*/

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
